<section id="main" class="">
  <h1><a href="/"><img src="/images/eleicoes-2010.png" alt="Eleições 2010" /></a></h1>

  <ul id="cargos"><li class="select">Selecione o turno para ver o resultado:</li><li><a href="/1turno/pi/governador">1&ordm; turno</a></li><li><a href="/" onclick="alert('O resultado do 2º turno será liberado às 17:00 do dia 31/10/2010'); return false;">2&ordm; turno</a></li></ul>
</section>
