<h1>Resultado das eleições 2010 do Piauí</h1>

<a href="/pi/1">Presidente</a> |
<a href="/pi/3">Governado</a> |
<a href="/pi/5">Senador</a> |
<a href="/pi/6">Deputado Federal</a> |
<a href="/pi/7">Deputado Estadual</a>
