<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resultado das Eleições 2010</title>
<%= stylesheet_link_tag 'index' %>
</head>

<body>
<h1>Resultado das eleições 2010 do Piauí</h1>

<a href="/pi/1">Presidente</a> |
<a href="/pi/3">Governado</a> |
<a href="/pi/5">Senador</a> |
<a href="/pi/6">Deputado Federal</a> |
<a href="/pi/7">Deputado Estadual</a>
</body>
</html>
