<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resultado das Eleições 2010</title>
    <%= stylesheet_link_tag 'index' %>
    <%= javascript_include_tag 'main' %>
  </head>

  <body>
    <div id="page">
      <header>
      </header>
      <%= yield %>
      <div id="stick"></div>
    </div>
    <footer>
      <p>Resultados das Eleições 2010</p>
    </footer>
  </body>
</html>
